body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: #020617;
}

h1 {
    color: #a855f7;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

button {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: #a855f7;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #9333ea;
}

.resultado {
    text-align: center;
    font-size: 24px;
}

.ticket {
    background: #020617;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 0 20px #a855f7;
}

.oculto {
    display: none;
}